<div class="contact-component">
    <div class="hover-block">
        <div class="contact-component__img"></div>
        <div class="contact-component__body">
            <div class="body__header">
                <p class="name-contact">{{name}}</p>
                <p class="arrival-time">{{arrivalTime}}</p>
            </div>
            <div class="body__message">
                {{message}}
            </div>
            <div class="body__counter">{{counter}}</div>
        </div>
    </div>
</div>
