<div class="contact-component">
    <div class="hover-block">
        <div class="contact-component__img"></div>
        <div class="contact-component__body">
            <div class="body__header">
                <p class="name-contact">Андрей</p>
                <p class="arrival-time">10:49</p>
            </div>
            <div class="body__message">
                Изображение
            </div>
            <div class="body__counter">2</div>
        </div>
    </div>
</div>
