<main class="login-page">
  <h1>Вход</h1>
  <form id="login-form">
    <div id="login-input-container"></div>
    <div id="password-input-container"></div>

    <div class="login-page__button-block" id="button-container"></div>

    <div class="login-page__link-block" id="link-container"></div>
  </form>
</main>
