<div class="change-password-page">
  <div id="avatar-container"></div>
  <form id="change-password-form">
    <div id="old-password-input-container"></div>
    <div id="new-password-input-container"></div>
    <div id="new-password-repeat-input-container"></div>
    <div class="login-page__button-block" id="button-container"></div>
  </form>
</div>