<div>
    <div>
        {{!-- Сделать компонент avatar и вставить сюды --}}
        Avatar
    </div>
    {{!-- В данный момент отсутствуют стили и компонент создан как заглушка. В будущем буду делать или отдельный
    компонент или буду использовать существующий компонент input и делать его "разновидности" --}}
    {{!-- Так же возможно страница будет в Profile, но разрулена через руты --}}

    <form>
        {{> input id="password" label="Старый пароль" type="password" name="oldPassword" placeholder="••••••••••••" }}
        {{> input id="password" label="Новый пароль" type="password" name="newPassword" placeholder="••••••••••••" }}
        {{> input id="password" label="Повторите новый пароль" type="password" name="newPasswordRepeat"
        placeholder="••••••••••••" }}
    </form>
</div>
