<div>
    {{> avatar }}

    {{!-- Возможно страница будет в Profile, но разрулена через руты --}}

    <form>
        {{> input id="oldPassword" label="Старый пароль" type="password" name="oldPassword" placeholder="••••••••••••" }}
        {{> input id="newPassword" label="Новый пароль" type="password" name="newPassword" placeholder="••••••••••••" }}
        {{> input id="newPasswordRepeat" label="Повторите новый пароль" type="password" name="newPasswordRepeat"
        placeholder="••••••••••••" }}
    </form>
</div>
