.profile-page {
    margin-top: 60px;

    &__button-back {
        background-color: rgba(251, 251, 251, 1);
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0px;
        left: 0;
        height: 100vh;
        border-right: 1px solid rgba(234, 234, 234, 1);
        padding: 0 18px;

        img {
            transform: rotate(180deg);
        }
    }

    &__avatar-block {
        display: flex;
        justify-content: center;
        button {
            background-color: rgba(239, 239, 239, 1);
            border-radius: 100%;
            width: 130px;
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__main-information {
        text-align: center;

        .main-information__name {
            margin-top: 21px;
            margin-bottom: 60px;
        }
    }

    &__button-block {
        margin-top: 60px;

        .link-component {
            border-bottom: 1px solid rgba(234, 234, 234, 1);
            width: 40vw;
            padding: 10px 0;
            font-weight: 500;

            &:last-child {
                border-bottom: none;

                a {
                    color: rgba(255, 0, 0, 1);
                }
            }
        }
    }
}
