<main class="profile-page">
    <button class="profile-page__button-back">
        <img src="/icon-send-message.svg" alt="icon-back">
    </button>
    <div id="avatar-container"></div>

    <div class="profile-page__main-information">
        <div class="main-information__name">
            <h3>Иван</h3>
        </div>
        <div id="user-info-rows-container"></div>
    </div>

    <div class="profile-page__button-block">
        <div class="profile-page__button-block" id="profile-links-container"></div>
    </div>  
</main>
