<main class="login-page">
  <h1>Регистрация</h1>
  <form id="registration-form">
    <div id="email-input-container"></div>
    <div id="login-input-container"></div>
    <div id="first_name-input-container"></div>
    <div id="second_name-input-container"></div>
    <div id="phone-input-container"></div>
    <div id="password-input-container"></div>
    <div id="passwordRepeat-input-container"></div>
    <div class="login-page__button-block">
      <div class="registration-page__button-block" id="button-container"></div>
      <div id="link-container"></div>
    </div>
  </form>
</main>
