<div class="navigation-page">
    <div class="navigation-page__header">
        <div class="link-profile">
            {{> link link="#" textLink="Профиль" }}
            <img src="/arrow-right.svg" alt="icon-arrow-right">
        </div>

        <div class="searh-contact">
            <input type="text" placeholder="Поиск">
        </div>
    </div>

    <div class="navigation-page__body">
        {{> contact }}
    </div>
</div>