<div>
    <div>
        <label for="fileInput">Загрузите файл</label>
    </div>
    <form>
        <input type="file" id="fileInput" />
        <button type="submit" name="avatar">Выбрать файл на компьютере</button> 
    </form>
    <div>
        <button type="button">Поменять</button>
    </div>
</div>

{{!-- В будущем этот компонент будет переделываться. В данный момент он чисто как заглушка --}}
