.main-input {
    label {
        color: rgb(153 153 153 / 100%);
        font-size: 9px;
        font-weight: 500;
        line-height: 9px;
    }

    input {
        border: none;
        border-bottom: 1px solid rgb(51 105 243 / 100%);
        width: 100%;
        margin-top: 1px;
        padding: 7px 0;

        &::placeholder {
            color: rgb(30 30 30 / 100%);
        }

        &:focus-visible {
            outline: none;
        }
    }

    .error {
        color: rgb(255 47 47 / 100%);
        border-bottom: 1px solid rgb(255 47 47 / 100%);
    }

    .error-message {
        display: block;
        font-size: 8px;
        line-height: 8px;
        color: rgb(255 47 47 / 100%);
    }
}
