<div class="chat-window">
    <div class="chat-window--clear">
        <p>Выберите чат чтобы отправить сообщение</p>
    </div>
    <div class="chat-window--active">
        <div class="chat-window__header">
            <div class="header__contact-block">
                <img alt="avatar">
                <p>Вадим</p>
            </div>
            <div>
                <button>
                    <img src="/icon-dots.svg" alt="dots menu">
                </button>
            </div>
        </div>
        <div class="chat-window__body">
            <div class="data-messages">
                <p>19 июня</p>
            </div>
            <div class="message message--contact">
                <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент
                    попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
                    астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на
                    поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

                    Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда
                    и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000
                    евро.</p>
                <span>11:56</span>
            </div>
            <div class="message message--user">
                <p>Круто!</p>
                <span>12:00</span>
            </div>
        </div>
        <form id="send-message" class="chat-window__footer">
            <button type="submit">
                <img src="/icon-add.svg" alt="add file">
            </button>
            <input type="text" placeholder="Сообщение" name="message">
            <button type="submit">
                <img src="/icon-send-message.svg" alt="send message">
            </button>
        </form>
    </div>
</div>
