// подключаем компоненты
@use "./components/UI/Input/input";
@use "./components/UI/Button/button";
@use "./components/UI/Link/link";
@use "./components/UI/Contact/contact";
@use "./components/common/Navigation/navigation";
@use "./components/common/ChatWindoow/chatWindoow";
@use "./components/UI/UserInfoRow/userInfoRow";
@use "./components/UI/Avatar/avatar";

// подключаем страницы
@use "./pages/Login/login";
@use "./pages/Chat/chat";
@use "./pages/Profile/profile";
@use "./pages/NotFound/NotFound.scss";
@use "./pages/ServerError/ServerError.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Разрешить вертикальную прокрутку */
  min-height: 100vh; /* Позволить контейнеру расширяться */
  box-sizing: border-box;
}

#list-link {
  position: absolute;
  top: 50px;
  right: 20%;
  padding: 20px;
  box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 14%);
  border-radius: 12px;
}
